@theme {
  /* Brand primitives */
  --carbon: #1c1c1c;
  --walnut: #49301a;
  --teal: #066666;
  --cyan: #339993;
  --custard: #e3d6a1;
  --snow: #fffafb;

}

:root {
  --background: var(--snow);
  --foreground: var(--carbon);

  --surface: var(--snow);
  --surface-dark: var(--carbon);

  --primary: var(--teal);
  --primary-hover: var(--cyan);

  --secondary: var(--walnut);
  --accent: var(--custard);

  --text-primary: var(--carbon);
  --text-dark: var(--snow);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-surface-dark: var(--surface-dark);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-text-primary: var(--text-primary);
  --color-text-dark: var(--text-dark);
}

@theme inline {
  /* Font families */
  --font-body: var(--font-atkinson);
  --font-display: var(--font-arial);

  /* Display */
  --text-display-xl: 4rem;
  --text-display-xl--line-height: 4.5rem;

  --text-display-l: 3.25rem;
  --text-display-l--line-height: 3.75rem;

  /* Headings */
  --text-h1: 2.75rem;
  --text-h1--line-height: 3.25rem;

  --text-h2: 2.25rem;
  --text-h2--line-height: 2.75rem;

  --text-h3: 1.75rem;
  --text-h3--line-height: 2.25rem;

  --text-h4: 1.375rem;
  --text-h4--line-height: 1.875rem;

  /* Body */
  --text-body-l: 1.125rem;
  --text-body-l--line-height: 1.75rem;

  --text-body-m: 1rem;
  --text-body-m--line-height: 1.5rem;

  --text-body-s: 0.875rem;
  --text-body-s--line-height: 1.3125rem;

  /* Labels */
  --text-label-l: 1rem;
  --text-label-l--line-height: 1.5rem;

  --text-label-m: 0.875rem;
  --text-label-m--line-height: 1.25rem;

  /* Special */
  --tracking-eyebrow: 0.04em;
}
